:root{
  border: 10px solid red;
}

.App {
  text-align: center;

}


.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 0, 153);
  background-color: rgb(255, 183, 0);
  padding: 0 20px;

}
.Options{
  display: flex;
  gap: 30px;

}
a:hover{
  color: blue;

}



.Books{
  background: rgb(255, 183, 0);
  color: rgb(255, 0, 153);
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-top: 30px; 
  padding: 30px;
  padding-top: 0%;
  padding-bottom: 0%;
  gap: 30px;
  border: 5px solid red;

}
.InfoSection{
  display: flex;
  gap: 60px;

}
.InfoSection > img {
    max-width: 100px;
    max-height: 200px;
    padding: 30px;

}
.Description {
  text-align: left;
  padding: 3%;
  padding-top: 0%;

}
.InfoSection h1 {
  padding-top: 0%;
}


.Footer{
  height: 80px;
  margin-top: 65px;
  background-color: rgb(255, 183, 0);

  }